.tweet-container {
  display: flex;

  flex-direction: column;
}

.head {
  border: 4px solid black;
  margin-top: 30px;
}

.head:hover {
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  margin: 2% 3%;
}

.tweet-header img {
  width: 110%;
  height: 100%;
  margin-right: 10px;
}

.image-name {
  display: flex;
}

.message {
  width: 80%;
  margin: 0 5%;
  overflow-wrap: break-word;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 3%;
  border-top: 5px solid;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.icons p:hover {
  color: orange;
}

.fas {
  margin-right: 8px;
}

.tag {
  color: #a7ceff;
  font-weight: bold;
}
